$bright: #ff2e63
$accent: #08d9d6
$neutral: #eeeeee
$main: #252a34

    
    
.landing 
    height: 90vh
    text-align: center

.about 
    height: 90vh

.projects
    height: 50vh

.skills
    border: 1px solid black
.js
    display: flex
    flex-direction: row
    border: 1px solid black
    height: 50px
.js-meter
    border: 1px solid black
    width: 30%
    background-color: $bright
    color: $neutral
.js-icon 


.html
    display: flex
    flex-direction: row
    border: 1px solid black
    height: 50px
    
.html-meter
    border: 1px solid black
    width: 30%
    background-color: $bright
    color: $neutral
.html-icon 

.css
    display: flex
    flex-direction: row
    border: 1px solid black
    height: 50px
.css-meter
    border: 1px solid black
    width: 30%
    background-color: $bright
    color: $neutral
.css-icon 



.sass
    display: flex
    flex-direction: row
    border: 1px solid black
    height: 50px
    margin-bottom: 5px
.sass-meter
    border: 1px solid black
    width: 30%
    background-color: $bright
    color: $neutral
.sass-icon 


.react
    display: flex
    flex-direction: row
    border: 1px solid black
    height: 50px
.react-meter
    border: 1px solid black
    width: 30%
    background-color: $bright
    color: $neutral
.react-icon 

.icon
    height: 50px
    width: 50px

.big-icon
    height: 100px
    width: 100px

.tools 
    display: flex
    flex-direction: row
    


